<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <H2>Create Post</H2>
    <form action="/postcreation" method="POST">
        <label for="posttitle">Title</label><br>
        <textarea id="title" name="title" rows="1" cols="50"></textarea><br>
        <label for="postcontent">Content</label><br>
        <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Create Post"><br>
    </form>
</body>
</html>