<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>
    <meta name="google-signin-client_id" content="994843129537-tmvgh06pi2fpuaite0b5em56so3nng9h.apps.googleusercontent.com">
    <a
    href="https://accounts.google.com/o/oauth2/v2/auth?&client_id=994843129537-tmvgh06pi2fpuaite0b5em56so3nng9h&scope=https://www.googleapis.com/auth/userinfo.email&redirect_uri=https://localhost:8080/google/redirect&response_type=code"

  >
    Login with google
  </a>
</body>
</html>