* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    margin-bottom: 100px;
}

.post-content {
    margin-bottom: 80px;
}

.post-text {
    background-color: #fafafa;
    border: 1px solid;
    border-radius: 7px;
    padding: 3px 10px;
    width: fit-content;
}

.post-likes-dislikes {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.post-like {
    margin-right: 10px;
}

.post-title {
    font-size: 16.5pt;
}

#maincontent {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 20px;
}

.comment-row {
    display: flex;
    width: 100%;
    border-top: 1px solid lightgray;
    padding: 12px 10px;
    margin-bottom: 20px;
}

.comment-body {
    flex: 1;
}

.comment-body-top {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-weight: bold;
    font-size: 15px;
}

.comment-date {
    font-size: 14px;
    color: grey;
}

.comment-body-actions {
    display: flex;
    justify-content: right;
}

.like-button {
    margin-right: 10px;
}

.post-img {
    margin-top: 15px;
}