<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show post</title>
</head>
<body>
    <h3>Show Post</h3>
    <h4>{{ .PostTitle }}</h4>
    <h5>{{ .PostContent }}</h5>

    <div class="container" style="margin:auto;">
        <form action="/storecomment" method="POST">
            <H2>Create Comment</H2>
           
            <label for="commenttext">Content</label><br>
            <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
            <button class="btn btn-primary" type="submit">Create Comment</button>
        </form>

       
    </div>  

</body>
</html>