<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/showpost.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show post</title>
</head>

<body>
    {{ template "header.html" . }}
    <div id="maincontent">
        {{ range .Posts }}
        <div class="post-content">
            <div class="post-title">
                <p>{{ .PostTitle }}</p>
            </div>
            <div class="post-text">
                <p>{{ .PostContent }}</p>
            </div>
            {{ if not .Image }}
            {{ else }}
            <div class="post-img">
                <img src="/templates/userImages/{{.Image}}" width="300" height="200" alt="">
            </div>
            {{ end }}

            {{ end }}
            <div class="post-likes-dislikes">
                <div class="post-like">
                    <form action="/likes" method="POST">
                        {{if and .Liked .LoggedIn}}
                        <button class="like-dislike-btn" style="background-color:#89CFF0;" type="checkbox" name="like">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Liked
                        </button>
                        {{else}}
                        <button class="like-dislike-btn" type="checkbox" name="like">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                        </button>
                        {{end}}
                    </form>
                </div>
                <form action="/dislikes" method="POST">
                    {{if .Disliked}}
                    <button class="like-dislike-btn" style="background-color:#CD5C5C;" type="checkbox" name="dislike">
                        <span class="glyphicon glyphicon-thumbs-down"></span> Disliked
                    </button>
                    {{else}}
                    <button class="like-dislike-btn" type="checkbox" name="dislike">
                        <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
                    </button>
                    {{end}}
                </form>
            </div>
        </div>
        <div>
        </div>
        {{ range .Comments}}
        <div class="comment-row">
            <div class="comment-body">
                <div class="comment-body-top">
                    <div class="comment-author">
                        <p>{{ .CommentUserName }} </p>
                    </div>
                    <div class="comment-date">
                        {{ .CreationDate }}
                    </div>
                </div>
                <div class="comment-body-content">
                    <p>{{ .CommentText }}</p>
                </div>
                <div class="comment-body-actions">
                    <div class="like-button">
                        <form action="/likes" method="POST">
                            <button class="like-dislike-btn" type="checkbox" name="like">
                                <span class="glyphicon glyphicon-thumbs-up"></span> Like
                            </button>
                        </form>
                    </div>
                    <form action="/dislikes" method="POST">
                        <button class="like-dislike-btn" type="checkbox" name="dislike">
                            <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {{ end }}
    <div class="container" style="margin:auto;">
        <form action="/likes" method="POST">
        {{if and .Liked .LoggedIn}}
        <button class="like-dislike-btn" style="background-color:#89CFF0;"type="checkbox" name="like">
        <span class="glyphicon glyphicon-thumbs-up"></span> Liked
        </button>
        {{else}}
           <button class="like-dislike-btn" type="checkbox" name="like">
        <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </button>
        {{end}}
        </form>
        <br>
         <form action="/dislikes" method="POST">
         {{if .Disliked}}
        <button class="like-dislike-btn" style="background-color:#CD5C5C;" type="checkbox" name="dislike">
        <span class="glyphicon glyphicon-thumbs-down"></span> Disliked
        </button>
         {{else}}
           <button class="like-dislike-btn" type="checkbox" name="dislike">
        <span class="glyphicon glyphicon-thumbs-up"></span> Dislike
        </button>
        {{end}}
        </form>
        <br>
</div>
<div>
</div>
    <div class="container" style="margin:auto;">
        <form action="/storecomment" method="POST">
            <H2>Create Comment</H2>

            <label for="commenttext">Content</label><br>
            <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
            <button class="btn btn-primary" type="submit">Create Comment</button>
        </form>
    </div>
    
    {{ range .Comments}}
    <h4>{{ .CommentText }}</h4>
    <h5>{{ .CommentUserName }} {{ .CreationDate }}</h5>

    <div class="container" style="margin:auto;">
        <form action="/commentlikes" method="POST">
            <button class="like-dislike-btn" type="checkbox" name="like">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
            </button>
        </form>
        <br>
        <form action="/commentdislikes" method="POST">
            <button class="like-dislike-btn" type="checkbox" name="dislike">
                <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
            </button>
        </form>
    </div>
    {{ end }}
    
    
    

   

</body>

</html>